body {
  font-family: 'Arial', sans-serif;
  background-color: #FAFAFA;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  background-color: #fff;
 
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
  text-align: center;
  align-items: center;
  color: white;
  height: 10vh;
  margin-bottom: 20px;
  font-size: 2rem;
  background-color: rgb(240, 100, 100);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #E0E0E0;
}

th {
  background-color: #f2f2f2;
  color: #333;
}

tr:hover {
  background-color: #baf1b1;
}

.no-expenses {
  text-align: center;
  color: #777;
  font-style: italic;
}
/* HTML: <div class="loader"></div> */
.center{
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.loader {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #0745e2;
  --_m: 
    conic-gradient(#0000 10%,#000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
          mask: var(--_m);
  -webkit-mask-composite: source-out;
          mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {to{transform: rotate(1turn)}}

.h22{
  margin-left: 10px;
}

.mainTable{
  margin: 10px;
  font-size: 10px;
}
.roee{
  background-color: #dadada;
  font-size: 15px;
}